body {
  width: 100%;
  height: 100%;
}

header {
  background-color: blueviolet;
  padding: 8px;
}

main {
  margin: 1.5em;
  height: 100%;
}

body header div {
  width: 200px;
}
#logo {
  text-align: center;
  margin: 10px;
  width: 7em;
}

#nav {
  display: flex;
}

#barr {
  width: 100%;
  display: inline-block;
}

.group4 {
  width: 10%;
  margin: 10px;
  display: inline-block;
}
